

   .activity-wraperr-desktop{ @media screen  and (max-width:1199px){
    padding-bottom: 94px;  
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
  }
  
  .title {
    
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;

    @media screen and(min-width:1080px) {
      font-size: 36px;
      line-height:calc(42/36);
      margin-bottom: 50px;
  }}


  .pictures {
    display: flex;
  }
  .pictures__item{
    &:not(:last-child ){
    margin-right:30px;}

  }
  
  .pictures__wraper{
    position: relative;
  }
  
  
  .pictures__text {
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $--wighte-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom:0;
   
  }

  .swiper{
    
    min-width: 280px;
    max-width: 450px;
    height: 294px;
  }
 .swiper-section{
  display: none;
  /* @media screen and(max-width:767px) {
    display: block;
    
  } */
 }
 .swiper-pic{
  width: 100%;
  height: 294px;
 }