
  .hero {
    text-align: center;
    padding: 118px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    height: 100%;
    background-image: $bg-gradient,
     url(../images/mobile-hero.jpg);
      
    @media screen and (min-width:320px){
      @include retina {
        background-image: $bg-gradient, url(../images/mobile-hero2x.jpg)
      }
      
    }
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet { background-image: $bg-gradient,
      url(../images/bg-tabl-hero.jpg);
      @include retina {
        background-image: $bg-gradient, url(../images/bg-tabl-hero-x2.jpg)
      }
    }

    @include desktop {
      padding: 200px 0;
      background-image: $bg-gradient,
     url(../images/bg-desk-hero.jpg);
     @include retina {
      background-image: $bg-gradient, url(../images/bg-desk-herox2.jpg)
    }
      }
  }
  
  .hero__title {
    margin: 0 auto 30px auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 26px;
    line-height:calc(42/26);
    
    color:$--wighte-text-color;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* @media screen and(min-width:1080px) {
    font-size: 26px;
    line-height:calc(60/26); */
    
    }
    
  
  
  
  .hero_button {
    padding: 10px 24px;
    color:$--wighte-text-color;
    background-color:$--accent-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    @include transition(background-color);
    &:hover,
    &:focus {
    background-color:$--button-activ-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
   &--centered {margin: 0 auto;
  }

  @media screen and(min-width:1200px) {
    padding: 10px 32px;
    }

  }
  