h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
 
}
address{
  font-style: normal;
}
p {
  margin: 0;
}


.list {
    list-style: none;
  }
  .links {
    text-decoration: none;
   
  }




body {
    background-color: $--background-color-main;
    color: $--primery-text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  
    
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and(min-width:1200px) {
     padding-top: 94px;
    padding-bottom: 94px;
}
    
  }
  .style_background {
    background-color: $--background-color-main;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  .body-scroll{
    overflow: hidden;
  }

  .no-scroll{
    overflow: hidden;
  }
  