 
    $--primery-text-color: #212121;
    $--wighte-text-color: #ffffff;
    $--footer-addres-text-color: rgba(255, 255, 255, 0.6);
    $--accent-text-color: #2196f3;
    $--second-text-color: #757575;
    $--button-activ-color: #188ce8;
    $--background-color-main: #ffffff;
    $--background-color-second: #f5f4fa;
    $--accent-button-color: #2196f3;
    $--background-hero-color: #2F303A;
    $--icon-primery-color:#AFB1B8;
    $--ico-background-color:#2196F3;
    $bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  
  