.about {
    padding-bottom: 94px;
}
.about__top {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 50px;
}
.about__list{
    display: flex; 
    justify-content: center;
    gap: 30px;
}
.about__img-link{
    position: relative;
    display: block;
    line-height: 0;
}
.about__img-title{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
}
