.decision{

    /* display: flex; */
 /*    max-width: 1600px; */
/*  padding-top: 200px;
 padding-bottom: 200px; */

    background: #C4C4C4;;

    background-image: linear-Gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/1X/Header-img-1x.jpg );
    background-repeat: no-repeat; 
    background-position: center;
    
    
    align-items: center;
    margin: 0 auto;

    width: 480px;
    height: 400px;
  padding: 118px 60px;
}
.decision__info{
    /* width: 629px; */
    /* height: 120px; */
    /* font-size: 44px;
    line-height: 1.36; */
    font-weight: 900;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    
    
    font-size: 26px;
    line-height: 1.61;
    min-height: 84px;
    max-width: 360px;
}
.backdrop.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;}
    
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
    z-index: 1;
    transition: 250ms var(--timing-function)
}