.menu__icon-img{
    border: opacity;
    background-color: opacity;
    outline: none;
    border: none;
    border: solid 15px #f2f2f2;
}
.menu__backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.wwww{
    display: flex;
    background-color: teal;
    max-width: 480px;
    margin: 0 auto;
}
.menu__btr{
        display: flex;
/*  position: absolute; */
 
        }

.menu__button-close{
            position: absolute;
            /* display: flex; */
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-color: #ffffff;
            border: 0px;
            
            transition: 250ms var(--timing-function);
            right: 8px;
            top: 8px;

            
        }
.menu__backdrop{
            padding-left: 20px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 1;
            transition: opacity 250ms var(--timing-function);
            z-index: 1;
            transition: 250ms var(--timing-function)
        }